<div [formGroup]="form">
  <div
    #armorSelection
    class="offcanvas show offcanvas-start"
    style="width: 85rem"
    tabindex="-1"
  >
    <div class="offcanvas-body row">
      <div class="col">
        <table class="table table-striped table-bordered table-sm">
          <thead>
            <tr>
              <th>Source</th>
              <th>Helm</th>
              <th>Chest Armor</th>
              <th>Gauntlets</th>
              <th>Leg Armor</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let set of armorSets | keyvalue"
              [formGroup]="armorSetFormGroup(set.key)"
            >
              <th>
                <mat-checkbox
                  [checked]="checkAllSelected(set.key)"
                  [indeterminate]="checkSomeSelected(set.key)"
                  (change)="selectAll(set.key, $event.checked)"
                  formControlName="all"
                  >{{ set.key }}</mat-checkbox
                >
              </th>
              <td>
                <mat-checkbox *ngIf="set.value.Helm" formControlName="Helm">
                  {{ set.value.Helm.name }}
                </mat-checkbox>
              </td>
              <td>
                <mat-checkbox
                  *ngIf="set.value['Chest Armor']"
                  formControlName="Chest Armor"
                >
                  {{ set.value["Chest Armor"].name }}</mat-checkbox
                >
              </td>
              <td>
                <mat-checkbox
                  *ngIf="set.value.Gauntlets"
                  formControlName="Gauntlets"
                >
                  {{ set.value.Gauntlets.name }}</mat-checkbox
                >
              </td>
              <td>
                <mat-checkbox
                  *ngIf="set.value['Leg Armor']"
                  formControlName="Leg Armor"
                >
                  {{ set.value["Leg Armor"].name }}</mat-checkbox
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <mat-card class="border container">
    <form [formGroup]="criteriaFormGroup" class="row">
      <div class="col">
        <!-- <mat-form-field appearance="fill">
      <mat-label>Endurance</mat-label>
      <input
        type="number"
        (keypress)="requireKeypressNumber($event)"
        matInput
        [formControl]="enduranceFormControl"
      />
      <mat-error *ngIf="enduranceFormControl.hasError('required')"></mat-error>
    </mat-form-field> -->
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Equip Load</mat-label>
            <input
              type="number"
              matInput
              [formControlName]="'equipLoad'"
              (change)="onEquipLoadChange()"
            />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['equipLoad'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>70% Breakpoint</mat-label>
            <input type="number" matInput [formControlName]="'breakpoint70'" />
            <mat-error *ngIf="equipLoadFormControl.hasError('required')">
              Specify maximum equipment load.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Phy</mat-label>
            <input type="number" matInput [formControlName]="'phy'" />
            <mat-error
              *ngIf="criteriaFormGroup.controls['phy'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Phy (Pierce)</mat-label>
            <input type="number" matInput [formControlName]="'phy.pierce'" />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['phy.pierce'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Phy (Slash)</mat-label>
            <input type="number" matInput [formControlName]="'phy.slash'" />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['phy.slash'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Phy (Strike)</mat-label>
            <input type="number" matInput [formControlName]="'phy.strike'" />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['phy.strike'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Fire</mat-label>
            <input type="number" matInput [formControlName]="'fire'" />
            <mat-error
              *ngIf="criteriaFormGroup.controls['fire'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Holy</mat-label>
            <input type="number" matInput [formControlName]="'holy'" />
            <mat-error
              *ngIf="criteriaFormGroup.controls['holy'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Lightning</mat-label>
            <input type="number" matInput [formControlName]="'light'" />
            <mat-error
              *ngIf="criteriaFormGroup.controls['light'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Magic</mat-label>
            <input type="number" matInput [formControlName]="'magic'" />
            <mat-error
              *ngIf="criteriaFormGroup.controls['magic'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>Focus</mat-label>
            <input type="number" matInput [formControlName]="'res.focus'" />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['res.focus'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Immunity</mat-label>
            <input type="number" matInput [formControlName]="'res.immunity'" />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['res.immunity'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Robustness</mat-label>
            <input
              type="number"
              matInput
              [formControlName]="'res.robustness'"
            />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['res.robustness'].hasError(
                  'required'
                )
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Vitality</mat-label>
            <input type="number" matInput [formControlName]="'res.vitality'" />
            <mat-error
              *ngIf="
                criteriaFormGroup.controls['res.vitality'].hasError('required')
              "
            >
              Required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Poise</mat-label>
            <input type="number" matInput [formControlName]="'poise'" />
            <mat-error
              *ngIf="criteriaFormGroup.controls['poise'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <mat-card>
          <mat-card-title>Presets</mat-card-title>
          <mat-card-content>
            <a role="button" class="btn btn-primary">Uniform</a>
            <a role="button" class="btn btn-primary">Physical Only</a>
            <a role="button" class="btn btn-primary">Tiebreaker</a>
          </mat-card-content>
        </mat-card>
      </div>
    </form>
  </mat-card>
</div>
