/* You can add global styles to this file, and also import other style files */

// Set by user-agent style sheet in Angular
* {
  margin-block-end: 0px;
}

// Our bootstrap configuration
@import "styles/variables";

// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

// Adjust some angular styles to align with their bootstrap counterparts
@import "styles/material-to-bootstrap";

// Layout & components (...cont)
@import "~bootstrap/scss/type";
// @import '~bootstrap/scss/images'; //
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables"; //
@import "~bootstrap/scss/forms"; //
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import '~bootstrap/scss/dropdown'; //
// @import '~bootstrap/scss/button-group'; //
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import '~bootstrap/scss/accordion'; //
// @import '~bootstrap/scss/breadcrumb';
// @import '~bootstrap/scss/pagination';
// @import '~bootstrap/scss/badge';
@import "~bootstrap/scss/alert";
// @import '~bootstrap/scss/progress';
@import "~bootstrap/scss/list-group"; //
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/helpers";

/* ========================================================================= */
// My own custom stuff added to the bootstrap API
/* ========================================================================= */

$utilities: map-merge(
  $utilities,
  (
    "shadow":
      map-merge(
        map-get($utilities, "shadow"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "shadow"), "values"),
              (
                featured: (
                  0 0.5rem 1rem rgba(map-get($theme-colors, "success"), 1),
                ),
              )
            ),
        )
      ),
  )
);

/* ========================================================================= */
// _Generate_ bootstrap utility classes
// https://stackoverflow.com/a/66715929
/* ========================================================================= */

@import "~bootstrap/scss/utilities/api";

// Revert _some_ bootstrap changes
@import "styles/reset";

/* ========================================================================= */
// My own style choices
/* ========================================================================= */
// I like titles for cards to be the same as <h1>
.mat-card-title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

// I like subtitles for cards to be bootstrap's text-muted color
// I like subtitles to have the same size as <h4>
.mat-card-subtitle {
  color: var(text-muted);
  font-size: 1.5rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
